<div class="card mt-4">
  <h5 class="card-header">Posted by: <span>{{fullName}}</span></h5>
  <div class="card-body">
    <h6 class="card-title">Date posted: <span>{{date}}</span></h6>
    <p class="card-text">
      {{userMessage}}
    </p>
    <p>
      Email:
      <a href="{{email}}"> {{email}}</a>
    </p>
    {{#if newsletterCheck}}
      <p>Subscribed to Tasty Treats Newsletter</p>
    {{else}}
      <p>Not Subscribed to Tasty Treats Newsletter</p>
    {{/if}}
  </div>
</div>