<div class="card mt-4">
  <h5 class="card-header">Posted by: <span>{{fullName}}</span></h5>
  <div class="card-body">
    <h5 class="card-title">Date posted: <span>{{date}}</span></h5>
    <p class="card-text">
      {{userMessage}}
    </p>
    <p>
      Email:
      <a href="{{email}}"> {{email}}</a>
    </p>
    <p>Subscribed it email: </p>
  </div>
</div>